#Files
*.DS_Store
*._*

# Byte-compiled / optimized / DLL files
**/__pycache__/

# Setup
**.egg-info

# Dev
configs/Graph_Transformers/dev/
configs/Graph_Transformers/dev-experiments/
configs/dev/

# Results
outputs/
**/outputs/ 
results/
**/results/
predictions/
**/predictions/

# Saved models & data
data/
checkpoints/
**/checkpoint/
*.pkl

# Experiment configs
configs/SGFormer/experiments/
configs/SGFormer/experiment/

# Others
Data_General/
models-arxiv/
models/large_wsigraphs/run.sh