#Files
*.DS_Store
*._*

# Byte-compiled / optimized / DLL files
**/__pycache__/

# Setup
**.egg-info

# Results
outputs/
results/
**/results/
predictions/
**/predictions/

# Saved models
checkpoints/
**/checkpoint/
*.pkl

# Experiment configs
configs/SGFormer/experiments/
configs/SGFormer/experiment/

# Others
Data_General/
